<!-- Footer -->
<div class="container-fluid fixed-bottom" id="footer">
  <div class="row text-center justify-content-center">
    <nav class="navbar sticky-bottom navbar-light">
      <a class="navbar-brand">
        <img src="./assets/images/cryptoLogo-transWhite.png" width="100" alt="cryptoLogo" />
        <p id="footText" style="font-size: 0.5em;">
          Copyright ©2018 cryptoShop LLC. All rights reserved.
        </p>
      </a>
    </nav>
  </div>
</div>
<!-- /#wrapper -->