<div class="modal fade" tabindex="-1" role="dialog" id="error">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Oops it seems like we encounter some error...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3 id="errmsg">
          <span id="code"></span>
          <span id="msg"></span>
        </h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-danger" data-dismiss="modal">Got it</button>
      </div>
    </div>
  </div>
</div>