<div class="modal fade" tabindex="-1" role="dialog" id="error">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center">Oops it seems like we encounter some error...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <form>
          <div class="form-group">
            <label for="passConfirmation">Password</label>
            <input type="password" class="form-control" id="passConfirmation" placeholder="Password">
          </div>
        </form> -->
        <h2 id="errmsg">...</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Got it</button>
      </div>
    </div>
  </div>
</div>