<div id="particles-js">
</div>
<!-- Bootstrap Nav-->
<nav class="navbar navbar-expand-lg navbar-fixed-top" id="topNav">
  <a class="navbar-brand" href="homepage.html">
      <img src="./assets/images/cryptoLogo-transWhite.png" width="200" alt="cryptoLogo" />
    </a>
  <div class="dropdown d-lg-none">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Menu
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <!--<a class="nav-link" href="aboutUs" id="aboutUs" style="color: black; font-size: 1.2em;">About Us</a>-->
      <a class="nav-link menu-toggle" style="color: black; font-size: 1.2em;">Xchange Rates</a>
      <a class="nav-link" href="profile.html" style="color: black; font-size: 1.2em;">Profile</a>
      <a class="nav-link signOutStatic" href="#" style="color: black; font-size: 1.2em;">Sign Out</a>
      <!--<a class="nav-link" href="viewCart" id="viewCart" style="color: black; font-size: 1.2em;">View Cart</a>-->
    </div>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchBar">
    <button id="searchBtn" class="btn my-2 my-sm-0" type="submit">Search</button>
    <div class="dropdown">
      <select class="custom-select" id="dropdown">
        <option value="293" selected>Electronics</option>
        <option value="11450">Clothing</option>
        <option value="11700">Household</option>
        <option value="14324">Watches</option>
        <option value="6001">Automobiles</option>
      </select>
    </div>
  </form>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto text-center">
      <!--<a class="nav-link btn" href="aboutUs" id="aboutUs" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">About Us</a>-->
      <a class="nav-link btn menu-toggle" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">Xchange Rates</a>
      <a class="nav-link btn" href="profile.html" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">Profile</a>
      <a class="nav-link btn signOutStatic" href="#" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">Sign Out</a>
      <!--<a class="nav-link btn" href="viewCart" id="viewCart" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">View Cart</a>-->
    </ul>
  </div>
</nav>