<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div class="card sidebar-card" style="width: 15.6rem;">
    <div class="card-header text-center">
      Xchange Rates per 1 coin
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Bitcoin: $<span id="btcRate">10225</span> </li>
      <li class="list-group-item">Bitcoin Cash: $<span id="bthRate">1530</span></li>
      <li class="list-group-item">Ethereum: $<span id="ethRate">1098</span></li>
    </ul>
  </div>
  <!--<div class="card sidebar-card" style="width: 15.6rem;">-->
    <!--  <div class="card-header text-center">-->
      <!--    Recent Searches-->
      <!--  </div>-->
      <!--  <ul class="list-group list-group-flush">-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--  </ul>-->
        <!--</div>-->
      </div>
<!-- /#sidebar-wrapper -->