<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div class="card sidebar-card" style="width: 15.6rem;">
    <div class="card-header text-center">
      Xchange Rates per 1 coin
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item" id="btcRate">Bitcoin: $10,225 </li>
      <li class="list-group-item" id="bthRate">Bitcoin Cash: $1,530</li>
      <li class="list-group-item" id="ethRate">Ethereum: $1,098</li>
    </ul>
  </div>
  <!--<div class="card sidebar-card" style="width: 15.6rem;">-->
    <!--  <div class="card-header text-center">-->
      <!--    Recent Searches-->
      <!--  </div>-->
      <!--  <ul class="list-group list-group-flush">-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--    <li class="list-group-item">Your search Here</li>-->
        <!--  </ul>-->
        <!--</div>-->
      </div>
<!-- /#sidebar-wrapper -->