{{#if user}} 
{{> navbar_user}} 
{{else}} 
{{> navbar_visitor}} 
{{/if}}
<!-- Page Wrapper-->
<div id="wrapper">
  {{> sidebar}}
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="col" id="cover">
        <div class="text-center">
          <div class="card-body">
            <h1 class="card-title">Welcome to the cryptoShop!</h1>
            <p class="card-text" style="font-size: 1.2em;">Find the item you want, and purchase it with your favorite cryptoCurrency using bitpay!</p>
          </div>
        </div>
      </div>
      <!--Participating Companies -->
      <div class="row">
        <div class="col text-center shopBuy">
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/EBay_logo.svg/1200px-EBay_logo.svg.png" style="width: 5em;" />
          <img src="https://images-na.ssl-images-amazon.com/images/G/01/twitch/amazon._CB273230536_.png" style="width: 5em;" />
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f5/Best_Buy_Logo.svg/1200px-Best_Buy_Logo.svg.png" style="width: 5em;" />
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/aa/Etsy_logo_lg_rgb.png" style="width: 5em;" />
          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Walmart_logo.svg/2000px-Walmart_logo.svg.png" style="width: 7em;" />
        </div>
      </div>
      <!-- Bitpay is secure -->
      <div class="container">
        <div class="row text-center">
          <div class="col-sm-12 col-md-5">
            <img src="https://i.pinimg.com/originals/95/f9/77/95f9772b91e8352d6ec2031e6f9d7839.png" style="width: 20em; text-align: center;" />
          </div>
          <div class="col-sm-12 col-md-7">
            <h2 style="margin: 5%;">Cryptocurrency payments:<br> Safe, Secure, and Fast!</h2>
            <p style="font-size: 1.1em;">While shopping with us, you can be sure your data is safe. We have gone through great measures to make our site secure, fast, and user-friendly.</p>
          </div>
        </div>
        <!-- Bitcoin exchange -->
        <div class="row text-center">
          <div class="col-sm-12 col-md-7">
            <img src="https://bitpay.com/images/bitpay-logo-inverse.png" style="width: 10em;" />
            <p style="font-size: 1.1em;">With bitpay built in, we make it painless when exchanging your bitcoin into the currency of your country.</p>
          </div>
          <div class="col-sm-12 col-md 5">
            <img src="http://btcbank.finance/img/exchange.png" style="width:15em;" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
{{> footer}} {{> modal_login}} {{> modal_error}} {{> scripts}}
<script type="text/javascript">
ReactDOM.render(
  React.createElement(UserAuth, { switch: "user_auth" }, null),
  document.getElementById("root")
);
</script>