<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The CryptoShop</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="sidebar.css">
</head>

<body>

  <!-- Bootstrap Nav-->

  <nav class="navbar navbar-expand-lg navbar-fixed-top" id="topNav">
    <a class="navbar-brand" href="homepage.html">
      <img src="./assets/images/cryptoLogo-transWhite.png" width="200" alt="cryptoLogo" />
    </a>
    <div class="dropdown d-lg-none">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Menu
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!--<a class="nav-link" href="aboutUs" id="aboutUs" style="color: black; font-size: 1.2em;">About Us</a>-->
        <a class="nav-link menu-toggle" style="color: black; font-size: 1.2em;">Xchange Rates</a>
        <a class="nav-link" href="profile.html" style="color: black; font-size: 1.2em;">Profile</a>
        <a class="nav-link" href="viewCart" id="viewCart" style="color: black; font-size: 1.2em;">View Cart</a>
      </div>
    </div>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchBar">
      <button id="searchBtn" class="btn my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto text-center">
        <a class="nav-link btn" href="aboutUs" id="aboutUs" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">About Us</a>
        <a class="nav-link btn menu-toggle" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">Xchange Rates</a>
        <a class="nav-link btn" href="profile.html" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">Profile</a>
        <a class="nav-link btn" href="viewCart" id="viewCart" style="color: white; font-size: 1.2em; text-shadow: 2px 2px 15px black;">View Cart</a>
      </ul>
    </div>
  </nav>

  <!-- All of this Content Below to the script tags, need to be split into Handlebar format-->

  <!-- Page Wrapper-->
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <div class="card sidebar-card" style="width: 15.6rem;">
        <div class="card-header text-center">
          Xchange Rates per 1 coin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Bitcoin: $10,813 </li>
          <li class="list-group-item">Bitcoin Cash: $1,602.52</li>
          <li class="list-group-item">Ethereum: $967.62</li>
          <li class="list-group-item">Dash: $766.66</li>
          <li class="list-group-item">Byteball Bytes: $723.21</li>
          <li class="list-group-item">Litecoin: $175.17</li>
        </ul>
      </div>

      <div class="card sidebar-card" style="width: 15.6rem;">
        <div class="card-header text-center">
          Recent Searches
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Your search Here</li>
          <li class="list-group-item">Your search Here</li>
          <li class="list-group-item">Your search Here</li>
          <li class="list-group-item">Your search Here</li>
          <li class="list-group-item">Your search Here</li>
        </ul>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="col">
          <ul class="nav nav-tabs justify-content-center">
            <li class="nav-item">
              <a class="btn nav-link" data-target=".showEbay" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="showEbay">eBay</a>
            </li>
            <!--<li class="nav-item">-->
              <!--  <a class="btn nav-link" data-target=".showAmazon" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="showAmazon">Amazon</a>-->
              <!--</li>-->
              <li class="nav-item">
                <a class="btn nav-link" data-target=".showWalmart" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="showWalmart">Wal-mart</a>
              </li>
            </ul>
          </div>





          <!-- Card model will get looped over to dynamically create in handlebars-->
          <div class="row text-center" id="productDisplay">
            <div class="jumbotron jumbotron-fluid m-auto" id="hideMeOnSearch">
              <div class="container">
                <h1 class="display-4">Search Results Will be Displayed here</h1>
                <p class="lead">Start by using the search box above!</p>
              </div>
            </div>
            <!-- Ebay search results -->
            <!-- Walmart Search Results -->
          </div>




          <!-- Footer -->
          <div class="fixed-bottom" id="footer">
            <div class="row text-center justify-content-center">
              <nav class="navbar sticky-bottom navbar-light">
                <a class="navbar-brand">
                  <img src="./assets/images/cryptoLogo-transWhite.png" width="100" alt="cryptoLogo" />
                  <p id="footText" style="font-size: 0.5em;">Copyright ©2018 cryptoShop LLC. All rights reserved.</p>
                </a>
              </nav>
            </div>
          </div>
        </div>



      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <div class="modal" tabindex="-1" role="dialog" id="buyItNowModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">You want to order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2 id="modalName">Title</h2>
            <img src="" alt="of item" id="modalId">
            <p id="modalPrice">Price: </p>
            <a class="coinbase-widget" id="coinbase_widget" data-address="" data-amount="" data-code="35454657-0e2f-5a5c-8665-2c37c6826bcc" data-currency="USD" data-crypto_currency="BTC" href="">Buy with Coinbase</a>

            <script type='text/javascript' id='coinbase_widget_loader' class='coinbase-widget-async-loader'>
              document.currentScript.src = '';
              (function() {
                function asyncLoad() {
                  var s = document.createElement('script');
                  s.type = 'text/javascript';
                  s.async = true;
                  var theUrl = 'https://buy.coinbase.com/static/widget.js';
                  s.src = theUrl + (theUrl.indexOf("?") >= 0 ? '&' : '?') + 'ref=' + encodeURIComponent(window.location.href);
                  var embedder = document.getElementById('coinbase_widget_loader');
                  embedder.parentNode.insertBefore(s, embedder);
                }
                if (window.attachEvent) {
                  window.attachEvent('onload', asyncLoad);
                }
                else {
                  window.addEventListener('load', asyncLoad, false);
                }
              })();
            </script>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="./assets/js/results.js"></script>

    <!-- Menu Toggle Script -->
    <script>
      $(".menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
  </body>

  </html>
